<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <title>REENCONTROW</title>

</head>

<body>
    <header>
        <h1>REENCON<span>TROW</span></h1>
       
    </header>
    <main>
        <section class="landing-page">
            <div class="content-text">
                <h3>Uma plataforma completa de informações...</h3>
                <h1>Já são mais de 4mil <br>
                    pessoas conectadas <br>
                    em nossa comunidade</h1>
                <a href="/">QUERO PARTICIPAR</a>
            </div>
            <div class="content-img">
                <img src="img/foto1.png" alt="">
            </div>
        </section>
        <section class="section-cards" id="sec1">
            <h1>Principais assuntos abordados</h1>
            <div class="cards">
                <div class="card">
                    <div class="card2"></div>
                    <img src="img/heart.png"  alt="">
                    <h3>RELACIONAMENTO</h3>
                </div>
                <div class="card"><img  src="img/heart.png" alt="">
                    <h3>SABEDORIA</h3>
                </div>
                <div class="card"><img  src="img/heart.png" alt="">
                    <h3>AMOR</h3>
                </div>
                <div class="card"><img  src="img/heart.png" alt="">
                    <h3>AMIZADE</h3>
                </div>

            </div>

        </section>
        <section class="section2" id="sec2">
            <div class="content-text">
                <h1>UMA COMUNIDADE SOBRE <br> RELACIONAMENTO AMOROSO...</h1>
                <p>Ensinamentos para você recomquistar o seu amor.
                    <br> Pra você que é acanhado(a)...</p>
                <a href="#sec2">QUERO FAZER PARTE</a>
            </div>
            <img src=" img/foto2.png" alt="">
        </section>
        <section class="section3">
            <div class="conteiner-input">
                <h1>RECEBA NOSSOS MATERIAIS EDUCATIVOS <br>
                    GRATUITAMENTE EM SEU EMAIL</h1>
                <div class="inputs-conteiner">

                        <input type="text" name="Nome completo" id="" placeholder="Nome completo">
                        <input type="text" name="E-mail" id="" placeholder="E-mail">
                        <button type="submit">QUERO RECEBER</button>

            </div>  
            <div class="redes">
                <h2>NOSSAS REDES SOCIAIS</h2>
                <img src="img/instagram.png" alt="">
                <img src="img/twiter.png" alt="">
                <img src="img/facebook.png" alt="">

            </div>
        </section>
    </main>
</body>

</html>